body {
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

.containerHome{
    
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif  ;    
}


.logoHome{
    display: inline-block;
    width:1000px;
    height: 780px;
}

